include ../header
include dashboardHeader
title SearchNTalk - DashBoard
.matter
    .container
        .row
            .content.col-md-4
                .row
                    .card
                        .item
                            .row
                                h5.col-xs-8 Become an Expert
                                .header-link.col-xs-4
                        .item
                            .row
                                p Find a network of your interest or simply join our network as expert.
                                ul
                                    li
                                        strong  Share your expertise
                                        p You can charge for your advice or offer it for free
                                    li
                                        strong After your approval
                                        p Callers will book an appointment and share agenda before the call
                                    li
                                        strong Your number stays private
                                        p We connect the calls without disclosing your number
                        .item
                            .row
                                a.btn.btn-primary(href=MemberRegistrationUrls.index() + '?integrationId=' + Config.get(Config.DEFAULT_NETWORK_ID)) Join Us
            .content.col-md-4
                .row
                    .card#startExpertNetworkCard
                        .item
                            .row
                                h5.col-xs-8 Start An Expert Network
                                .header-link.col-xs-4
                        .item
                            .row
                                p You can monetize your expert network by simply having them join your network and managing their calls
                        .item
                            .row
                                a.btn.btn-success(href=DashboardUrls.integration()) Manage your experts
            .content.col-md-4
                .row
                    .card
                        .item
                            .row
                                h5.col-xs-8 Get Widgets
                                .header-link.col-xs-4
                        .item
                            .row
                                p Take your expertise to the world. Our widgets let you be approachable for callers who might be seeking you.
                        .item
                            .row
                                a.btn.btn-info(href=DashboardUrls.widgetCreator()) Get Widgets
include ../footer