include header
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .col-md-4
                - if (code)
                    form#reset-password
                        .form-group
                            label.control-label(for='password') New Password
                            input.form-control#password(type='password', placeholder='New password', name='password', data-toggle="tooltip", data-placement="bottom")
                        .form-group
                            label.control-label(for='confirm-password') Confirm New Password
                            input.form-control#confirm_password(type='password', name='confirm_password', placeholder='Confirm password', data-toggle="tooltip", data-placement="bottom")
                        .form-group
                            input.btn.btn-primary(type='submit', value='Update Password')
                - else
                    form#request-new-password
                        .form-group
                            label.control-label(for='email') Email
                            input.form-control#email(type='text', placeholder='Email', name='email', data-toggle="tooltip", data-placement="bottom")
                        .form-group
                            input.btn.btn-primary(type='submit', value='Reset password')
        .col-md-2
script.
    var code = '#{code}';
script(src='/js/app/dashboard/forgotPassword.js')
include footer