title SearchNTalk | Forgot Password
include ../header
.matter
    .container
        .row
            .content.col-md-12
                .card
                    .item-edit
                        - if (code)
                            form#reset-password
                                h3 New Password
                                .form-group
                                    input.form-control#password(type='password', placeholder='New password', name='password')
                                h3 Confirm New Password
                                .form-group
                                    input.form-control#confirm_password(type='password', name='confirm_password', placeholder='Confirm password')
                                .links-editing
                                    input.btn.btn-primary.btn-block(type='submit', value='Update Password')
                        - else
                            form#request-new-password
                                h3 Email
                                .form-group
                                    input.form-control#email(type='text', placeholder='Email', name='email')
                                .links-editing
                                    input.btn.btn-primary.btn-block(type='submit', value='Reset password')
script.
    var code = '#{code}';
script(src='/js/app/dashboard/forgotPassword.js')
include ../footer