doctype html
include ../scriptsAndStyles
meta(name='viewport', content='width=device-width, initial-scale=1')
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .row
                .col-md-7
                    h3
                        | SearchNTalk
                        small &nbsp;Alpha
                .col-md-5
                    p.pull-right
                        if (logged_in_user)
                            | Hey #{logged_in_user.first_name}
                            a.btn.btn-link(href='/logout') Logout
            hr
            block content
        .col-md-2