!!! 5
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=false')

    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic', rel='stylesheet', type='text/css')
    link(href='/css/combined.min.css?v=version', rel='stylesheet')

    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/combined.min.js?v=version')

    script.
        (function( $ ){
            $.fn.retina = function(retina_part) {
                // Set default retina file part to '@2x'
                // Eg. some_image.jpg will become some_image@2x.jpg
                var settings = {'retina_part': '@2x'};
                if(retina_part) jQuery.extend(settings, { 'retina_part': retina_part });

                if(window.devicePixelRatio >= 2) {

                    this.each(function(index, element) {

                        if(!$(element).attr('src')) return;

                        var checkForRetina = new RegExp("(.+)("+settings['retina_part']+"\\.\\w{3,4})");
                        if(checkForRetina.test($(element).attr('src'))) return;

                        var new_image_src = $(element).attr('src').replace(/(.+)(\.\w{3,4})$/, "$1"+ settings['retina_part'] +"$2");

                        $.ajax({url: new_image_src, type: "HEAD", success: function() {
                            $(element).attr('src', new_image_src);
                        }});
                    });
                }
                return this;
            }
        })( jQuery );
        jQuery(document).ready(function() {
            jQuery(".retina-image").retina();
        });
.masthead.inverted(role='banner')
    .container
        .masthead-brand
            a.logo.hidden-xs(href='/')
            a.icon.visible-xs(href='/')
        .masthead-controls
            .masthead-control-field
                .field-trigger
                    span.hidden-xs Don't have an account yet?
                    a.btn.btn-default(href=AuthenticationUrls.register()) Sign Up
            .masthead-control-field
                .field-action
                    a.btn.btn-primary.login(href=AuthenticationUrls.login()) Login
            .masthead-control-field.lang-control
                .field-boxedinfo
                    .lang en
                    .shadow
                .caret
                .lang-modal
                    .field-label
                        | Language
                    .field-menu
                        select(name='ui_language')
                            option(value='en', selected='')
                                | English
// /.masthead
.hero
    .container
// /.hero
.highlights
    .container
        .row
            .col-md-4.value-prop
                .title
                    h1
                        em For&nbsp;
                        | Subject Matter Experts
                .image
                .description
                    h2 Have or want to create an online presence?
                    p Register on searchntalk.com to instantly start offering advice for a fee!
            .col-md-4.value-prop
                .title
                    h1
                        em For&nbsp;
                        | Networks of Experts
                .image
                .description
                    h2 Have access to several experts on a subject?
                    p
                        | List and manage your experts and their call revenues on our website through your dedicated page.
            .col-md-4.value-prop
                .title
                    h1
                        em For&nbsp;
                        | Content Websites
                .image
                .description
                    h2 Own a content website?
                    p
                        | Help your readers/consumers reach out to relevant experts with simple  keyword-based widgets.
// /.highlights
.highlights
    .container
        hr
        .row.feature
            .col-sm-3
                .image
                    img.retina-image(src='images/icon_scheduling.png')
            .col-sm-9
                .description
                    h1 Easy & Fast Scheduling
                    p
                        | Hassle-free, realtime and completely automated scheduling helps your users complete more calls, more frequently. You are in complete control of your schedules.
        hr
        .row.feature
            .col-sm-3
                .image
                    img.retina-image(src='images/icon_pricing.png')
            .col-sm-9
                .description
                    h1 Your Expertise, Your Price
                    p
                        | Offer per minute flexible or fixed period one-to-one sessions @ a Flat 10% platform fee.
        hr
        .row.feature
            .col-sm-3
                .image
                    img.retina-image(src='images/icon_privacy.png')
            .col-sm-9
                .description
                    h1 No Compromise on Privacy
                    p
                        | Privacy-manage your profile and schedule to receive calls when you want without ever having to publicly disclose your number or contact details.
        hr
        .row.feature
            .col-sm-3
                .image
                    img.retina-image(src='images/icon_widget.png')
            .col-md-9
                .description
                    h1 Flexible Widgets
                    p
                        | Monetise your existing relationships or brands, with ultra-simple integrations to leverage what you built painstakingly over years
// /.highlights
.call-to-action
    .container
        .row
            .announcement
                | Use our flexible widgets and simple integration to power instant user-to-expert interactions.
            .trigger
                .container
                    a.btn.btn-primary.btn-lg Sign Up Now
include ../footer