include ../scriptsAndStyles
include header

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            h4 Your Networks
            .list-group
                each member in members
                    a.list-group-item(href=member.role == 3 ? DashboardUrls.memberProfile(member.id) : DashboardUrls.integrationMembers(member.integration_id)) #{member.integration.title}
                    if member.role == 3
                        a.list-group-item(href=DashboardUrls.callDetails(member.id)) View Call Details
                        a.list-group-item(href=DashboardUrls.revenueDetails(member.id)) View Revenue Details
        .col-md-2