include ../scriptsAndStyles
include header

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            h4 Your Networks
            .list-group
                each member in members
                    a.list-group-item(href=member.role == 3 ? DashboardUrls.memberProfileEdit(member.id) : DashboardUrls.integrationMembers(member.integration_id)) #{member.integration.title}
        .col-md-2