title SearchNTalk | Member Registration | Create Account
include ../header
.matter
    .container
        .row
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .user-profile
                            .hidden-xs.profile
                                p Please begin by creating an account on searchntalk.com
                            .clearer
                            .hidden-xs.meta.meta-keywords
                                h5 How it works
                                dl
                                    dt Share your expertise
                                    dd You can charge for your advice or offer it for free
                                    dt After your approval
                                    dd Callers will book an appointment and share agenda before the call
                                    dt Your number stays private
                                    dd We connect the calls without disclosing your number
                    .col-md-6
                        .call-card
                            include ../errorMessage
                            form#login-form(role='form', method='POST')
                                .form-group
                                    label(for='username') Email
                                    input.form-control#username(name='email', type='email')
                                .form-group
                                    label(for='login_password') Password
                                    input.form-control#login_password(name='password', type='password')
                                .form-group
                                    .controls
                                        input.btn-primary.btn.btn-block(value='Login', type='submit')
                                a.btn-linkedin.btn(href=AuthenticationUrls.linkedInLogin()) Login with LinkedIn
                                a.btn.btn-link(href=DashboardUrls.forgotPassword()) Forgot password?
                                a.btn.btn-link(href=AuthenticationUrls.register()) Create an account
include ../footer
script(src='/js/app/expertRegistration/authenticate.js')