include header
include ../scriptsAndStyles

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            include ../errorMessage
            .col-md-4
                form#login-form(role='form', method='post')
                    .form-group
                        label.control-label(for='username') Email
                        input.form-control#username(type='text', placeholder='Email', name='username', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        label.control-label(for='password') Password
                        input.form-control#password(type='password', name='password', placeholder='Password', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        //label.checkbox
                        //    input(type='checkbox')
                        //    | Remember me
                        input.btn.btn-primary(type='submit', value='Login')
                        a.btn.btn-link(href=DashboardUrls.forgotPassword()) Forgot password?
        .col-md-2
include footer
script(src='/js/app/dashboard/login.js')
