include header
title SNT-#{formatName(user.first_name, user.last_name)} | Profile
.matter
    .container
        .row
            .content.col-md-4
                .row
                    nav.navbar.navbar-default.section-navbar(role='navigation')
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#networks-collapse')
                                span.sr-only Toggle profile navigation
                                i.icon-plus
                                i.icon-minus
                            .visible-xs.navbar-brand.network-brand Basic Info
                        #networks-collapse.collapse.navbar-collapse
                            ul.nav.nav-pills.nav-stacked
                                li.active
                                    a(href='#') Basic Info
                                li
                                    a(href='profile_schedules.html') Schedules
                                li
                                    a(href='profile_expertise.html') Expertise
            // /.content
            .content.col-md-8
                .row
                    .card
                        .item
                            .row
                                h5.col-xs-8  
                                .header-link.col-xs-4
                                    a.btn.btn-primary(href='#')
                                        i.icon-pencil
                            .user-profile
                                .avatar
                                    .shadow
                                    .placeholder.placeholder-male
                                    img
                                .info
                                    .info-upper
                                        .user-displayname Animesh Deshpandey
                                        .user-age 32 yrs.
                                    .info-lower
                                        .user-locale New Delhi
                                        .user-timezone GMT +5:30h
                                .clearer
                                .profile
                                    p
                                        | A freelance policy analyst since 1994, I specialize in policy for sustainability, planning and the urban environment in India, funding programmes, comparative research and good practice.
                                .meta.meta-keywords
                                    h5 Skills/Keywords
                                    ul
                                        li Social Policy
                                        li Consulting
                                        li Learning
                                .meta.meta-price
                                    h5 Charges
                                    p
                                        strong $1.00
                                        | /min.
            // /.content
include footer