include ../scriptsAndStyles
extends  ../contextualHeader

block content
    p Please verify your mobile number
    em.small This number will be used to connect the users to you for calls that you accept to receive
    hr
    form#sendCode(action=ApiUrlDelegate.mobileVerificationCode(), method='post')
        .form-group
            label Mobile Number
            .controls
                .input-group
                    .input-group-btn
                        select.form-control.col-md-2#countryCode
                            option(value='91') India (+91)
                            option(value='1') USA (+1)
                            option(value='65') Singapore (+65)
                    input(type='text').form-control#phoneNumber
        .form-group
            input.btn.btn-primary.form-control(type='submit', value='Send verification code', name='sendCode')
    form#verifyCode(style='display: none;')
        .form-group
            label Verification code
            input(type='text').form-control#verificationCode
        .form-group
            input.btn.btn-primary.form-control(type='submit', value='Verify', name='verify')
    script(src='/js/app/dashboard/mobileVerification.js')
