title SearchNTalk - Mobile Verification
include ../header
.matter
    .container
        .row
            .col-md-12.col-lg-12.col-xs-12.col-sm-12.content
                .card
                    include ../errorMessage
                    .alert.alert-success
                        strong Expert account successfully created!
                        p Just one more step! We need to verify your mobile number
                        em.small This number will be used to connect the users to you for calls that you accept to receive
                    form(action=ApiUrlDelegate.mobileVerificationCode(), method='post')
                        .item-edit
                            .item
                                .row
                                    h3 Mobile Number
                                    .form-group
                                        .row
                                            .col-xs-5
                                                select.form-control
                                                    for name,abb in CountryName
                                                        - var code = CountryCode[abb];
                                                        option(value=code)= name + ' (+' + code + ')'
                                            .col-xs-7
                                                input.form-control#phoneNumber(type='text', placeholder='Phone Number')
                                    div.links-editing
                                        .edit-schedules
                                            input.btn.btn-primary.form-control(type='submit', value='Send verification code', name='sendCode')
                    form#verifyCode(style='display: none;')
                        .form-group
                            label Verification code
                            input(type='text').form-control#verificationCode
                        .form-group
                            input.btn.btn-primary.form-control(type='submit', value='Verify', name='verify')
script(src='/js/app/dashboard/mobileVerification.js')
include ../footer