include ../header
include dashboardHeader
title SearchNTalk - Payments
.matter
    .container
        .row
            .col-md-12.content
                .card
                    .item
                        h5 Coming Soon
include ../footer