include ../header
title Widget Creator
.navigation
.matter
    .container
        .row
            .content
                .card
                    .item
                        .row
                            h5.col-xs-8 Create Widget
                            .header-link.col-xs-4
                    .item-edit
                        .row
                            .col-md-4
                                h3 Theme
                                .form-group
                                    select.form-control(name='theme')
                                        option(value='dark') Dark
                                        option(value='light') Light
                                h3 Size
                                .form-group
                                    select.form-control(name='size')
                                        option(value='tiny') Tiny
                                        option(value='small') Small
                                        option(value='tall') Tall
                                h3 Expert Id
                                .form-group
                                    if loggedInUser
                                        input.form-control(name = 'expertId', value=loggedInUser.id)
                                    else
                                        input.form-control(name = 'expertId')
                                h3 Embed Code
                                .form-group#embedCode
                                    textarea.form-control(name='embedCodeText', readonly, rows='5')
                            .col-md-2
                            .col-md-6
                                #iframeContent
include ../footer
script.
    var widgetBaseUrl = '!{Config.get(Config.DASHBOARD_URI)}';
    var loggedInUser = JSON.parse( '!{JSON.stringify(loggedInUser)}' );
script(src='/js/app/dashboard/widgetCreator.js')

