include ../header
title Widget Creator
.navigation
.matter
    .container
        .row
            .content
                .card
                    .row
                        .col-md-3
                            .item
                                .row
                                    h5 Settings
                            .item-edit
                                .row
                                    h3 Theme
                                    .form-group
                                        select.form-control(name='theme')
                                            option(value='dark') Dark
                                            option(value='light') Light
                                    h3 Width
                                    .form-group
                                        select.form-control(name='width')
                                            option(value='160') 160
                                            option(value='300') 300
                                            option(value='320') 320
                                            option(value='336') 336
                                    h3 Expert Id
                                    .form-group
                                        input.form-control(name='expertId', value=loggedInUser ? loggedInUser.id : null)
                                    h3 Verb
                                    .form-group
                                        select.form-control(name='verb')
                                            for verb in allowedVerbs
                                                option= verb
                        .col-md-5
                            .item
                                .row
                                    h5 Instructions
                            .item
                                .row
                                    h3 1. Include this code once on your page (ideally just after opening <body> tag)
                                    p.code &lt;script src=&quot;//searchntalk.com/js/embed.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
                            .item
                                .row
                                    h3 2. Place this code wherever you want to display the expert widget
                                    p.code#widgetEmbedCode
                        .col-md-2
                            .item
                                .row
                                    h5 Preview
                            #iframeContent

include ../footer
script.
    var widgetBaseUrl = '!{Config.get(Config.DASHBOARD_URI)}';
    var loggedInUser = JSON.parse( '!{JSON.stringify(loggedInUser)}' );
script(src='/bower_dependencies/iframe-resizer/src/iframeResizer.js', type='text/javascript')
script(src='/js/app/dashboard/widgetCreator.js')