extends contextualHeader
block content
    h3 What you're looking for isn't here.
    div
        | Do you wanna&nbsp;
        a(href='javascript:history.back()') Go back
        | &nbsp;or&nbsp;
        a(href='/') Visit SearchNTalk.com
