doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=false')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic', rel='stylesheet', type='text/css')
    link(href='/lib/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/lib/bootstrapValidator/dist/css/bootstrapValidator.css', rel='stylesheet')
    link(href='/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(rel="stylesheet" href="/lib/76d-social-icons/assets/css/social-icons.css")
    link(rel="stylesheet" href="/lib/76d-social-icons/assets/css/main.css")
.masthead(role='banner')
    .container
        .masthead-brand
            a.logo.hidden-xs(href='/')
            a.icon.visible-xs(href='/')
        .masthead-controls
.matter
    .container
        .row
            .content.col-xs-12
                .error-card
                    .alert.alert-danger There was a problem with your request.
                    .error-box
                        h1
                            strong 500&nbsp;
                            if error
                                | #{error.message}
                            else
                                | An error occurred
                        p
                            | If you followed a link to this page, the link is possibly outdated. You may visit the
                            a(href='/') searchntalk homepage
                            | to find what you are looking for.
            // /.content