extends contextualHeader
block content
    h3 Oh No!
    div
        | If you're reading this message, we've made a mistake. Please drop us a line at&nbsp;
        a(href='mail:contact@searchntalk.com') contact@searchntalk.com
        p
            a(href='javascript:history.back()') Go back
            | &nbsp;or&nbsp;
            a(href='/') Visit SearchNTalk.com