.controls .btn + .btn {
    margin-left: 10px;
}

.controls input + .btn {
    margin-left: 10px;
}

.controls textarea + .btn {
    margin-left: 10px;
}

.pull-right a + a {
    margin-left: 5px;
}

.panel-body button + button {
    margin-left: 5px;
}

.datepicker
{
    z-index:1151 !important;
}