title Expert Profile
include ../scriptsAndStyles
include header

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            h4 Available Time Slots
            label
                | Please pick
                b &nbsp;at least three slots&nbsp;
                | that fit your schedule. We'll send these to expert and get his confirmation for the call
            form(action=CallFlowUrls.userLogin(), method='get')
                - for (var i = 1; i <= 3; i++)
                    .form-group
                        label Option #{i}
                        select.form-control.col-md-6.scheduleSelect(name='scheduleId')
                            for schedule in schedules
                                option(value=schedule.id) #{formatSchedule(schedule)}
                .form-group
                    .controls
                        input(type='hidden', name='key', value='val')
                        a.btn.btn-primary Add Row
                        input.btn.btn-primary(type='submit', value='DONE >')
            em
                small
                    b Note:&nbsp;
                    | Picking more slots will mean lesser back-and-forth communication with the expert for scheduling the call.
        .col-md-2
script(src='/js/app/callFlow/index.js')