title Search N Talk - Expert Registration - Login
include ../scriptsAndStyles
include header
#fb-root
    script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{fb_app_id}";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .row
                .col-md-10
                    | Please login to searchntalk.com or create an account to continue..
                .pull-right
                    .btn.btn-default#skip Skip >
            .row
                include ../errorMessage
            .row
                .col-md-5
                    form.form-horizontal.left#login(method='post', action=CallFlowUrls.login())
                        .form-group
                            label.control-label Email
                            .controls
                                input.form-control#email(type='text', name='username')
                        .form-group
                            label.control-label Password
                            input.form-control#password(type='password', name='password')
                        .form-group
                            input.btn.btn-primary(type='submit', value='Login')

                    form.form-horizontal.left(action=CallFlowUrls.fbLogin(), method='get')
                        .form-group
                            .controls
                                input.btn.btn-primary(type='submit', value='Login using FB')
                .col-md-1
                .col-md-5
                    form.form-horizontal.left#register(action=CallFlowUrls.register(), method='post')
                        .form-group
                            label.control-label Email
                            input.form-control#email(type='text', name='email')
                        .form-group
                            label.control-label First Name
                            input.form-control#first_name(type='text', name='first_name')
                        .form-group
                            label.control-label Last Name
                            input.form-control#last_name(type='text', name='last_name')
                        .form-group
                            label.control-label Password
                            input.form-control#password(type='password', name='password')
                        .form-group
                            label.control-label Confirm Password
                            input.form-control#confirm_password(type='password', name='confirm_password')
                        .form-group
                            .controls
                                input.btn.btn-primary(type='submit', value='Register')
        .col-md-2
script(src='/js/app/callFlow/login.js')