- var user = expert.user[0];

include header
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.completed
                        a(href='')
                            i.icon-schedule
                            span.hidden-xs Schedule
                    li.active
                        a(href='')
                            i.icon-pay
                            span.hidden-xs Pay
                    li.disabled
                        a(href='')
                            i.icon-talk
                            span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row.uneditables
                    .col-md-6
                        .row.user-profile
                            .status-icon.status-ok
                                i.icon-searchntalk
                            .info
                                .user-displayname= formatName(user.first_name, user.last_name, user.title)
                                .status-message accepting calls till 11.00am
                            .clearer
                    .col-md-3
                        .row
                            .user-schedule-summary
                                .current-status.status-ok Currently available
                                .scheduled-slot
                                    span.annotation Call scheduled for #{duration} mins (now):
                                    | 13 Apr 2014 at
                                    span.live-clock 11:13
                    .col-md-3
                        .row.step-reversal
                            a.btn.btn-default(href='javascript: history.back();')
                                | Back to Schedule
                                i.icon-left-arrow
                .row.editables
                    .col-lg-12
                        .row
                            h1
                                i.icon-bill
                                | Payment Summary
                        .row
                            .hidden-xs.hidden-sm.col-md-6
                            .col-md-6
                                .row
                                    .payment-summary
                                        .table
                                            .table-row
                                                .table-cell.title Call duration: 15mins @ $1.00 / min
                                                .table-cell.amount $ 15.00
                                            .table-row
                                                .table-cell.title Tax: @10%
                                                .table-cell.amount $ 1.50
                                            .table-row
                                                .table-cell.title
                                                .table-cell.amount
                                            .table-row
                                                .table-cell.title
                                                    .input-group
                                                        input.form-control(type='text', placeholder='Discount Coupon #')
                                                .table-cell.amount
                                                    a.btn.btn-default(href='error.html') Apply Coupon
                                            .table-row.total
                                                .table-cell.title Total
                                                .table-cell.amount $ 16.50
                .row
                    .hidden-xs.hidden-sm.col-md-6
                    .col-md-6
                        .row
                            .call-actions
                                a.btn.btn-lg.btn-primary.first(href='payment-success.html') Proceed to Payment
                // /.content
include footer