include header
include scriptsAndStyles
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            label You're already registered as an expert on #{integration.title}.include
            label Please visit <a href='#{SearchNTalkUri}'>SearchNTalk.com</a> to update your profile and availability schedules.
        .col-md-2