include scriptsAndStyles
include header

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            label #{integration.title} would like you to join them as an expert.
            label Continue?
            form(action="/expert/authorization/decision", method="post")
                input(name="transaction_id", type="hidden", value="#{transactionID}")
                .controls
                    input.btn-primary.btn(type="submit", value="Allow", id="allow")
                    input.btn.btn-danger(type="submit", value="Deny", name="cancel", id="cancel")
        .col-md-2