include scriptsAndStyles
include header

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            p Congrats! You're now registered as an expert on #{integration.title}
            p We've sent you an email with all the information you'll need :)
            hr
            p We'll schedule calls for you based on settings below. You may update these settings now or later by visiting <a href='#{SearchNTalkUri}'>#{SearchNTalkUri}</a>
            form
                each rule in schedule_rules
                    .form-group
                        label(for='schedules') #{rule.title}
                        .controls
                            .row#schedules
                                .col-md-3
                                    .input-group
                                        input.form-control.timepicker(type='text')
                                        .input-group-btn
                                            button.btn.btn-default.fa.fa-calendar
                                .col-md-1.text-center
                                    | to
                                .col-md-3
                                    .input-group
                                        input.form-control.timepicker(type='text')
                                        .input-group-btn
                                            button.btn.btn-default.fa.fa-calendar
                .form-group
                    input.form-control.btn.btn-primary(type='submit', value='Save')

        .col-md-2

#mobileVerificationModal(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header

script(src='/js/app/expertRegistration/complete.js')