doctype html
include ../scriptsAndStyles
meta(name='viewport', content='width=device-width, initial-scale=1')
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .row
                .col-md-7
                    h3
                        | #{integration.title}
                        small &nbsp;Expert Registration
                .col-md-5
                    p.pull-right
                        if (loggedInUser)
                            | Hey, #{loggedInUser.first_name}
                            a.btn.btn-link(href='/logout') Logout
                            h3
            hr
            block content
        .col-md-2