doctype html
meta(name='viewport', content='width=device-width, initial-scale=1')
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            h3
                | #{integration.title}
                small &nbsp;Expert Registration huhas
            block content
        .col-md-2