script(src='/javascripts/lib/jquery.js')
script(src='/javascripts/lib/moment.min.js')
script(src='/javascripts/lib/bootstrap.min.js')
script(src='/javascripts/lib/bootbox.min.js')
script(src='/javascripts/lib/bootstrap-timepicker.min.js')

link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-timepicker.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
