.card
    form#AddUserSkillForm
        .item-edit
            .item
                .row
                    h5.col-xs-8 Add Skill
                    .header-link.col-xs-4
                        a.btn.btn-danger#cancelAddUserSkill
                            i.icon-cancel
            .item
                .row
                    .form-group
                        .form-group
                            input.form-control#skill_name(class='typeahead', type='text', name='skill_name', data-provide="typeahead", autocomplete="off")
                            span.form-control-feedback
                                i.icon-spinner
                    .links-editing
                        p.edit-schedules
                            input.btn.btn-primary(type='submit', value='Save')