.card
    form#AddUserSkillForm
        .item-edit
            .item
                .row
                    h5.col-xs-8 Add Skill
                    .header-link.col-xs-4
                        a.btn.btn-danger#cancelAddUserSkill
                            i.icon-cancel
            .item
                .row
                    .form-group
                        input.form-control(id='tokeninput', class='tokeninput', type='text', name='user_skill', autocomplete="off", width="15")
                    .links-editing
                        p.edit-schedules
                            input.btn.btn-primary(type='submit', value='Save')