.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            hr
            em Please help us improve by sending feedback to <a href='mailto:gaurav.munjal@infollon.com'>gaurav.munjal@infollon.com</a>

        .col-md-2