doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=false')
    title Search-n-Talk
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic', rel='stylesheet', type='text/css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    //link(href='/css/style.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //
       WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/lib/jquery.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/bootstrap-select.js')
    script(src='/js/lib/jquery.validate.js')
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .row
                .col-md-7
                    .masthead-brand
                        a.logo.hidden-xs(href='#')
                        a.icon.visible-xs(href='#')
                .col-md-5
                    p.pull-right
                        if (loggedInUser)
                            | Hey, #{loggedInUser.first_name}
                            a.btn.btn-link(href='/logout') Logout
            block content
        .col-md-2