title Scheduling
include ../scriptsAndStyles
    .container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .row
                .col-md-10
                    p You have chosen the following appointment for call (Id: #{call.id})
                    p #{formatDate(startTime)}
                    p Do you want to confirm this appointment?
                    button.btn.btn-default(onclick='handleRejectAppointment(event)') No
                    button.btn.btn-primary(onclick='handleConfirmAppointment(event)') Yes
script.
    var startTime = !{startTime};
    var call = JSON.parse( '!{JSON.stringify(call)}' );
script(src='/js/app/callScheduling/scheduling.js')
