include ../header
title ST | About Us
body
    .matter
        .container
            .row
                .content.col-md-12
                    .card
                        p(style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal")
                            b About Us
                            span(style='font-size:10.0pt;font-family:"Arial","sans-serif";color:black')
                                br
                                br
                                | We have set about to bring a paradigm shift to the way we seek information.  We connect knowledge seekers to experts to make this process more realtime and customized. We believe that one-sided delivery of information via web and its associated ad-driven business models are past their prime.
                                br
                                br
                                | Our flagship offering is the platform www.searchntalk.com  from where individual experts, expert aggregators and content websites can pick up tools to tap into the expert network.  The platform provides expert widgets alongwith the required communication and scheduling tools which can be inserted into their own websites or forums for monetization of their own experts or choose experts relevant to the content from the Searchntalk pool. We import trust parameters from the aggregators to rank the experts and networks by our proprietary algorithms to help knowledge seekers reach the right expert from our searchable contact book or 3rd party websites where the widgets are installed.
                                br
                                br
                                | The complete solution is the first of its kind globally to offer monetization tools to experts as well as people who don’t have access to experts but lots of knowledge seekers.  This would  encourage millions of expert aggregators and give a monetization option to publishers who are completely dependent on ad-networks for their revenue generation.
include ../footer