include ../header
title ST | Contact Us
body
    .matter
        .container
            .row
                .content.col-md-12
                    .card
                        p(style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal")
                            b Contact Us
                            span(style='font-size:10.0pt;font-family:"Arial","sans-serif";color:black')
                                br
                                br
                                | Infollion Research Services
                                br
                                | B-217, Sushant Lok,
                                br
                                | Gurgaon, Haryana
                                br
                                | India-122018
                                br
                                | Phone: +91-124-4406555
include ../footer