include ../header
title ST | About Us
style.
    <!--
    /* Font Definitions */
    @font-face {
        font-family: Wingdings;
        panose-1: 5 0 0 0 0 0 0 0 0 0;
    }

    @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
    }

    @font-face {
        font-family: Cambria;
        panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 10.0pt;
        margin-left: 0cm;
        line-height: 115%;
        font-size: 11.0pt;
        font-family: "Calibri", "sans-serif";
    }

    h1 {
        mso-style-link: "Heading 1 Char";
        margin-right: 0cm;
        margin-left: 0cm;
        font-size: 24.0pt;
        font-family: "Times New Roman", "serif";
        font-weight: bold;
    }

    h2 {
        mso-style-link: "Heading 2 Char";
        margin-top: 10.0pt;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-bottom: .0001pt;
        line-height: 115%;
        page-break-after: avoid;
        font-size: 13.0pt;
        font-family: "Cambria", "serif";
        font-weight: bold;
    }

    h3 {
        mso-style-link: "Heading 3 Char";
        margin-top: 10.0pt;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-bottom: .0001pt;
        line-height: 115%;
        page-break-after: avoid;
        font-size: 11.0pt;
        font-family: "Cambria", "serif";
        font-weight: bold;
    }

    p {
        margin-right: 0cm;
        margin-left: 0cm;
        font-size: 12.0pt;
        font-family: "Times New Roman", "serif";
    }

    span.Heading2Char {
        mso-style-name: "Heading 2 Char";
        mso-style-link: "Heading 2";
        font-family: "Cambria", "serif";
        font-weight: bold;
    }

    span.Heading1Char {
        mso-style-name: "Heading 1 Char";
        mso-style-link: "Heading 1";
        font-family: "Times New Roman", "serif";
        font-weight: bold;
    }

    span.Heading3Char {
        mso-style-name: "Heading 3 Char";
        mso-style-link: "Heading 3";
        font-family: "Cambria", "serif";
        font-weight: bold;
    }

    .MsoChpDefault {
        font-family: "Calibri", "sans-serif";
    }

    .MsoPapDefault {
        margin-bottom: 10.0pt;
        line-height: 115%;
    }

    @page WordSection1 {
        size: 612.0pt 792.0pt;
        margin: 72.0pt 72.0pt 72.0pt 72.0pt;
    }

    div.WordSection1 {
        page: WordSection1;
    }

    /* List Definitions */
    ol {
        margin-bottom: 0cm;
    }

    ul {
        margin-bottom: 0cm;
    }

    -->
body
    .matter
        .container
            .row
                .content.col-md-12
                    .card
                        .WordSection1
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:14.5pt; font-family:"Cambria","serif"; color:#3B618E') Getting Started
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Introduction
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:14.5pt; font-family:"Cambria","serif"; color:#3B618E') Searchntalk for Users
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#3B618E')
                            h3
                                span(lang='EN-US') How can I talk to a live expert?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | If the expert is open to receive calls at
                                    | the time you are trying to reach out, the expert will be shown as available
                                    | till a certain time as per the uploaded schedule. If you initiate a call before
                                    | the stipulated time after making the appropriate payment, you will be able to
                                    | reach out to the expert in realtime. If you already have money in your account
                                    | and the expert is available at that moment, you will be connected to the expert
                                    | instantly.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to schedule a call?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | If the expert is not available at the time
                                    | you are trying to reach out, you can view the expert’s schedule and request a
                                    | discussion at a time slot which is convenient to you.  When the expert receives
                                    | and accepts a call request, you will receive a confirmation Email as well as a
                                    | reminder before the call.  Our system will generate a call at the mutually
                                    | decided time and connect you to the expert for a one-to-one conversation.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Why can’t I call all experts instantaneously?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | They are not Zombies and need to sleep as
                                    | well. Or run errands, buy groceries, spend time with their families etc.  You
                                    | can reach out to experts only as per their schedules at a time when they are
                                    | open to receiving calls.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I pay for the call?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | All the payment options provided by our
                                    | payment gateway provider Payzippy . Most global credit cards are accepted
                                    | besides a host of other listed options.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD')
                                        | What is the minimum amount of money I need to keep in my account
                                        | to make calls?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | In order to book a session you need to
                                    | deposit an amount equivalent to the price of the session. In case of calls with
                                    | per-minute pricing, you need to deposit an amount for at least 15 minutes to
                                    | make a call. You can apply for refund of the unspent amount.  However, it is
                                    | always advisable to keep a buffer of at least 10 minutes of the estimated time
                                    | of the call.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to make sure the expert knows what I want before I pay?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | Always make sure you send the agenda of the
                                    | discussion to the expert before the call. Your satisfaction with the call is
                                    | directly proportional to the heads up you give to the expert. There is a limit
                                    | of 1000 characters including spaces which should be utilized as much as
                                    | possible.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') What should I include in the Agenda of call?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | The agenda should have complete details of
                                    | the problem you would like to discuss with the expert. If you are looking for
                                    | any specific data or precise answer to an issue, make sure you write it
                                    | explicitly that you would like the expert to be prepared with the answer.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I share documents with the expert before the call?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | If you like to share any documents, reports
                                    | or code which you would like to make a reference during the call, upload it
                                    | onto a file sharing website like dropbox and send the links in the agenda of
                                    | the discussion. If the link requires a password, please make sure you include
                                    | that in the agenda as well.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I cancel a booked engagement?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | You can cancel any booked engagement
                                    | without any deductions and apply for a refund if you do that 24 hours prior the
                                    | booked engagement.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Are there any cancellation charges?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | Yes, If you cancel the call less than 24
                                    | hours before the call or in case of a no-show, 50% of the session fees or an
                                    | amount equivalent to 5 minutes would apply.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to apply for a refund?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | In case you would like to apply for refund,
                                    | just send an email to
                                span(lang='EN-US')
                                    a(href='mailto: support@searchntalk.com') support@searchntalk.com
                                span(lang='EN-US')
                                    | along with the call ID. However, except as specifically provided
                                    | below,searchntalk will not refund any Expert Fees paid by users or Service Fees
                                    | paid or owed by Experts for any reason whatsoever, in whole or in part.  We
                                    | will investigate any claim made by users of unfair or deceptive acts by Experts
                                    | and where appropriate, at searchntalk’s sole and absolute discretion, provide a
                                    | refund of Expert Fees paid as per the withdrawal details provided by the user.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to withdraw any unspent amount from my account?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US')
                                    | You can withdraw your unspent account from the payout
                                    | page on your account dashboard. The minimum amount you can withdraw is USD 5 or
                                    | equivalent.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to report abuse?
                            p.MsoNormal
                                span(lang='EN-US') Please send us an email at 
                                span(lang='EN-US')
                                    a(href='mailto: support@searchntalk.com') support@searchntalk.com
                                span(lang='EN-US')
                                    | immediately if you come across use of any objectionable language or
                                    | content by experts or other users.
                            h3
                                span(lang='EN-US') Will I get reminders?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | You will get an email as well as an SMS
                                    | when the call is confirmed for a particular time as well as 5 minutes before
                                    | the scheduled time of the call.
                            p.MsoNormal
                                span(lang='EN-US')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:14.5pt; font-family:"Cambria","serif"; color:#3B618E') Searchntalk for Experts
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') 5 simple steps to get started
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 1: Register to enter your
                                    | areas of expertise and session topics
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 2: Fix a per minute or
                                    | session fees
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 3: Enter when you are
                                    | willing to take calls
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 4: Pick up your unique URL
                                    | or call widget
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 5: Share it amongst your
                                    | friends and network to start monetizing
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Why should I register as an expert?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | To share knowledge, help others, establish
                                    | yourself as an authority in the domain of your choice, network with people
                                    | interested in your subject matter and last but not the least to monetize your
                                    | expertise.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to make my profile?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | You can enter the details manually or
                                    | import your profile from Linkedin. Enter precise keywords for areas of
                                    | expertise. Create separate listings and/or sessions highlighting your expertise
                                    | across verticals.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to set up schedules?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | Add upto 5 schedules to let the users know
                                    | of your availability in the coming days, weeks or months. Set the timings when
                                    | you can receive calls carefully and don’t ever reject calls when you have shown
                                    | yourself as available. Not only it will bring down your rating drastically, it
                                    | is a huge convenience to the users who are trying to reach you.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') What fees should I charge to my clients?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | The expert fees you charge should provide
                                    | the appropriate return on investment and value to the knowledge seeker.   The
                                    | simple rule is that lower expert fees leads to more engagements while higher
                                    | expert fees implies lesser number of engagements. The sessions should be
                                    | planned for topics which are popular and relevant to the subject while being
                                    | priced at a level which forces the user to opt for a session as opposed to
                                    | reading hundreds of webpages to derive the same value. The session price should
                                    | never be too high to dissuade the knowledge seekers from using the service at
                                    | the same time reflecting the genuine worth of that information.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to join a network?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | You are added to the default Searchntalk
                                    | network as soon as you join.  Once you start taking calls and your ratings are
                                    | generated the networks would be able to invite you to join them.  Unless you
                                    | are invited by a network owner to join their network, there is no way to join
                                    | them as of now.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How many networks should I join?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US')
                                    | As many as you want, as many as you can reasonably
                                    | manage.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Interactions with Users
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:18.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') What are expert widgets?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | Widgets are components of our interface
                                    | which you can pick up and install wherever you want. You can let users reach
                                    | you from your own blogs, websites  or forums. You can use a lighter version
                                    | even in your email newsletters. It’s like taking the call request button
                                    | wherever you want and letting your network know you are available.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I put widgets on my own website or a blog?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | Click on “get widgets” link on your
                                    | dashboard and choose the kind of widget you like. Copy the code and paste it on
                                    | your website or a blog.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Are there any customization options of the widget?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | You can choose the size of the widget
                                    | options being tiny, medium and big ; a light or a dark background; and the text
                                    | of the call button.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I let people know that I am available for advice?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | You should promote your availability
                                    | amongst your network by sharing the link of the page where you have inserted
                                    | your widget or the URL of your SNT profile whichever you prefer. Promoting
                                    | yourself through social media, blogs, newsletters is an important cog in the
                                    | wheel to let others know how to reach you. You should write articles,
                                    | preferably SEO friendly, and install widgets along with them to let readers
                                    | reach you once they are satisfied that you possess the information they are
                                    | seeking.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Restricted Engagements
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')
                                    | Experts
                                    | are not allowed to consult on certain topics as listed in section VIII of terms
                                    | of use. Providing advice on these topics is illegal and not allowed on this
                                    | platform.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') What is Searchntalk fees?
                            p.MsoNormal(style='margin-bottom:12.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')
                                    | Searchntalk
                                    | charges a flat 10% fees of the total earning from the call for using the
                                    | calling platform and allowing experts to be featured on other affiliate content
                                    | websites. A further 10% of the total earning is charged as a leadgen fees in
                                    | case the call is generated from any other website besides the one where the
                                    | widget has been inserted by the expert or the expert aggregator. This fees is
                                    | passed on to the affiliate from where the call was initiated.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How can I offer discounts to my current or potential clients?
                            p.MsoNormal(style='margin-bottom:12.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:14.5pt; font-family:"Cambria","serif"; color:#3B618E') Searchntalk for Expert Aggregators
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') 5 simple steps to get started
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 1: Register to create your
                                    | network
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 2: Mark your network
                                    | private if you don’t want general users to call your experts
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 3: Invite and fix a
                                    | percentage you want to share with experts
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 4: Pick up your expert
                                    | widgets to install on your website
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 5: Promote your network on
                                    | Social media, SEO or personal  contacts to start monetizing
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') I don’t have my own website, Can I still create a network?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | Yes, You can create your own branded page
                                    | on Searchntalk.com and promote the URL in the same way as you would do for your
                                    | own website.
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How to choose the name of my Network?
                            p.MsoNormal
                                span(lang='EN-US')
                                    | The name of the network should be chosen
                                    | that it represents the offline brand for which you are building your network.
                                    | If you are building a new network
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I invite experts to join my network?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I promote my network?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How can I offer discounts to my current or potential clients?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') What are expert widgets?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I put widgets on my own website or a blog?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How can I Customize by Widget?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How can I customize the text on my widget?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Can I choose the experts that are visible on my website widget?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:14.5pt; font-family:"Cambria","serif"; color:#3B618E') Searchntalk for Content Websites
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') 3 simple steps to get started
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 1: Register  to
                                    | choose the experts or type of experts you want to show on your website
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 2: Pick up the expert
                                    | widgets to install on your website
                            p.MsoNormal(style='margin-left:36.0pt; line-height: normal')
                                span(lang='EN-US', style='font-size:11.5pt; color: black')
                                    | Step 3: Promote your network on
                                    | Social media, SEO or personal  contacts to start monetizing
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') What are expert widgets?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Why are expert widgets better than ad network widgets?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') Can I choose the experts that are visible on my website widget?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How do I put widgets on my own website or a blog?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How can I Customize by Widget?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:11.5pt; font-family:"Cambria","serif"; color:#4F81BD') How can I customize the text on my widget?
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                span(lang='EN-US', style='font-size:12.0pt; font-family:"Times New Roman","serif"')  
                            p.MsoNormal(style='margin-bottom:0cm; margin-bottom:.0001pt; line-height: normal')
                                b
                                    span(lang='EN-US', style='font-size:14.5pt; font-family:"Cambria","serif"; color:#3B618E') Troubleshooting
                            p.MsoNormal
                                span(lang='EN-US')  


include ../footer